body{
	font-family: 'Montserrat', 'Arial';
	margin:0!important;
}
html, body {
    min-height: 100% !important;
    height: 100%;
}
svg, div, span, input{
	box-sizing: border-box;
}
button{
	border-radius: 50px;
	border:none;
	background-color: #000;
	color:white;
	padding: 8px 30px;
	cursor: pointer;
}
input{
	height:45px;
	border-radius:50px;
	border:none;
}
a{
	text-decoration: none;
}
input[type="file"]{
	border:none!important;
}
textarea{
	border-radius: 6px;
	padding: 6px;
	font-family: 'Montserrat', 'Arial';
	height: 70px;
}
.red{
	background-color: rgb(218, 22, 22)!important;
}
/******************* PORTADA ****************/
#cover{
	background-color: #ECF0F3;
}
#bAccess{
	top: 30px;
	right: 30px;
}
#cover svg{
	width:30px;
}
#searchIcon{
	transform: translateX(-140%);
	padding:4px;
	fill:gray;
	cursor: pointer;
}
#searchBar{
	padding: 8px 30px;
	font-size:16px;
}
#bottomOptions{
	font-weight:bold;
}
#allUser{
	color: gray;
	fill:gray;
	cursor: pointer;
}
#avaiUser{
	color: green;
	fill:green;
	cursor: pointer;
}

/************** PAGINA USUARIO **************/
#header{
	height:85px;
	background-color: #ECF0F3;
	z-index: 100;
}
#bAccessHeader{
	margin-left:auto;
}
#logoHeader{
	height: 40px;
}
#cvSection, #dataSection, #personalSection{
	padding:50px 30px;
}
#contentStudent{
	height: calc(100% - 85px);
}
.titleData{
	font-weight:bold;
	font-size: 18px;
}
#imageProfile{
	border-radius:50%;
}

#infoName{
	font-size: 30px;
    font-weight: bold;
}

#infoSurname{
	font-size: 20px;
}
#infoDate{
	font-size: 14px;
	color:gray;
}

#infoAvai{
	background-color: rgb(92, 153, 0);
}
.contactData svg{
	width: 30px;
}
.contactData span{
	width: calc(100% - 30px);
	padding-left: 12px;
}

#studies span{
	background-color: #ecf0f3;
    border-radius: 20px;
    float: left;
	padding: 4px 14px;
	margin-right: 10px;
}

.contentInfo{
	padding-left: 12px;
}

.grayFont{
	color:gray;
}

/********* PAGINA BUSQUEDA **********/
#sidebarSearch{
	top:85px;
	left: 0px;
	padding: 35px;
	height: calc(100% - 85px);
	z-index: 10;
	-webkit-box-shadow: 10px -8px 21px -7px rgba(0,0,0,0.16);
	-moz-box-shadow: 10px -8px 21px -7px rgba(0,0,0,0.16);
	box-shadow: 10px -8px 21px -7px rgba(0,0,0,0.16);
}

#sidebarSearch input{
	border: 1px solid gray;
	height: 30px;
	padding: 0px 10px;
}

#sidebarSearch #showAll{
	position: absolute;
	bottom: 30px;
	left: 0;
}

#searchbarSide svg{
	height: 30px;
    padding: 8px;
    position: absolute;
    transform: translateX(-120%);
	fill: gray;
	cursor: pointer;
}

.check{
	padding-left: 10px;
}

/* Customize the label (the containerRadioCheck) */
.containerCheck {
	display: block;
	position: relative;
	padding-left: 25px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 14px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .containerCheck input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 18px;
	width: 18px;
	background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .containerCheck:hover input ~ .checkmark {
	background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .containerCheck input:checked ~ .checkmark {
	background-color: rgb(32, 158, 0);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  /* Show the checkmark when checked */
  .containerCheck input:checked ~ .checkmark:after {
	display: block;
  }
  
  /* Style the checkmark/indicator */
  .containerCheck .checkmark:after {
	left: 5px;
	top: 2px;
	width: 4px;
	height: 9px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  }

  #resultSearch{
	margin-left: 20%;
	margin-top: 85px;
	padding: 35px;
  }

  .elementFind{
	padding: 18px;
  }

  .elementFind img{
	border-radius: 50%;
  }

  .elementFind #infoName{
	font-size: 20px!important;
  }

  .elementFind #infoSurname{
	font-size: 16px!important;
  }

  .studiesElement span{
	background-color: #c3c3c3;
    border-radius: 50px;
    padding: 3px 13px;
    font-size: 14px;
  }

  /*********** PAGINA EDITAR ALUMNO ************/
  
  #contentEditStudent input{
	  border: 1px solid gray;
	  padding: 4px 10px;
	  height: 30px;
  }



  /* Customize the label (the containerRadio) */
.containerRadio {
	display: block;
	position: relative;
	padding-left: 25px;
	margin-bottom: 6px;
	cursor: pointer;
	font-size: 15px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .containerRadio input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }
  
  /* Create a custom radio button */
  .checkmarkRadio {
	position: absolute;
	top: 0;
	left: 0;
	height: 18px;
	width: 18px;
	background-color: #eee;
	border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .containerRadio:hover input ~ .checkmarkRadio {
	background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .containerRadio input:checked ~ .checkmarkRadio {
	background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmarkRadio:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .containerRadio input:checked ~ .checkmarkRadio:after {
	display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .containerRadio .checkmarkRadio:after {
	top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
	border-radius: 50%;
	background: white;
  }
  

  #infoEditCont img{
	  border-radius: 50%;
  }

  #titleEdit{
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
  }

  #editPhoto{
	cursor: pointer;
  }

  #editIcon{
	  width: 20px;
  }

  /******* PAGINA DE LOGIN *********/

  #fieldsLogin button, #fieldsLogin input{
	  height: 35px;
  }

  #fieldsLogin input{
	  padding: 4px 15px;
  }
  
  .errorText{
  	color:red;
  	text-align:center;
  	font-size: 14px;
  }

 /********** PAGINA DE OPCIONES ADMIN ***********/

  #optionsAdmin div{
	border-radius: 20px;
	font-weight: bold;
	height: 75px;
	margin-bottom: 20px; 
	background-color: #ECF0F3;
	cursor: pointer;
  }

  #optionsAdmin svg{
	  width: 28px;
  }

  /******* PAGINA NUEVO ALUMNO ********/
  #newStudentData input{
	  border: 1px solid gray;
	  padding: 5px 15px;
	  height: 30px;
  }

  /****** PAGINA ADMINISTRAR CURSOS ******/
  #modal{
	  background-color: rgba(0, 0, 0, 0.815);
	  z-index: 10;
  }
  #inside{
	  background-color: white;
	  z-index: 20;
	  padding: 35px 5%;
	  border-radius: 15px
  }
  .titModal{
	  font-size: 18px;
	  font-weight: bold;
	  text-align: center;
  }
  #inside input{
	  border: 1px solid gray;
	  height: 30px;
	  padding: 5px 15px;
  }
  #closeModal{
	  position: absolute;
	  top:15px;
	  right: 15px;
	  cursor: pointer;
  }
  #closeModal svg{
	width: 20px;
  }
  #contentStudies{
	  padding: 0px 40px;
  }
  .studyElement:nth-child(odd){
	border-top:none;
	border-bottom:none; 
  }
  .studyElement:last-child{
	  border-bottom:1px solid gray;
  }
  .studyElement:first-child{
	border-top:1px solid gray;
  }
  .studyElement{
	  padding: 15px;
	  border-top:1px solid gray;
	  border-bottom:1px solid gray;
  }
  .studyElement .bEdit{
	margin-left: auto;
  }
  #bAddStudy{
	  bottom: 35px;
	  right: 35px;
  }
  #bAddStudy button{
	  width: 60px;
	  height: 60px;
	  border-radius: 50%;
	  padding: 0;
	  background:black;
  }
  #bAddStudy svg{
	width: 25px;
	fill: white;
  }